BODY {
	FONT-SIZE: 11px; MARGIN: 0px; COLOR: #696969; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A {
	COLOR: #696969; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
H1 {
	FONT-SIZE: 11px; MARGIN: 0px
}
H2 {
	FONT-SIZE: 11px; MARGIN: 0px
}
H3 {
	FONT-SIZE: 11px; MARGIN: 0px
}
H4 {
	FONT-SIZE: 11px; MARGIN: 0px
}
#container {
	MARGIN: 0px auto; WIDTH: 94%
}
.header {
	MARGIN: 25px 0px 0px; WIDTH: 100%
}
.header H1 {
	MARGIN: 0px 0px 0px 9px
}
.header P {
	FLOAT: right; MARGIN: 0px
}
.bar {
	BACKGROUND: url(../images/bar.bg.gif); MARGIN: 10px 0px; HEIGHT: 37px
}
.bar SPAN {
	BACKGROUND: url(../images/bar.bg.gif) no-repeat 0px -37px; FLOAT: right; MARGIN: 0px; WIDTH: 17px; HEIGHT: 37px
}
.bar UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.bar LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 37px
}
.bar LI A {
	COLOR: #303030; TEXT-DECORATION: none
}
.bar LI A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#home {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; LINE-HEIGHT: normal; PADDING-TOP: 0px; TEXT-ALIGN: center
}
A#home {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(../images/bar.start.gif) no-repeat; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 70px; PADDING-TOP: 10px; HEIGHT: 27px
}
A#home:hover {
	BACKGROUND: url(../images/bar.start.gif) no-repeat 0px -37px
}
.common {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; LINE-HEIGHT: normal; PADDING-TOP: 0px; TEXT-ALIGN: center
}
A.common {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 110px; PADDING-TOP: 10px; HEIGHT: 27px
}
A.common:hover {
	BACKGROUND: url(../images/bar.bg.gif) no-repeat center -74px
}
.search {
	BORDER-RIGHT: #696969 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #696969 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 6px 15px 3px 8px; BORDER-LEFT: #696969 1px solid; WIDTH: 100px; COLOR: #a69d7f; PADDING-TOP: 2px; BORDER-BOTTOM: #696969 1px solid; HEIGHT: 18px
}
.box {
	BORDER-RIGHT: #6ca901 1px solid; PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; BORDER-LEFT: #6ca901 1px solid; WIDTH: 203px; PADDING-TOP: 8px
}
.box A {
	COLOR: #696969; TEXT-DECORATION: none
}
.box A:hover {
	TEXT-DECORATION: underline
}
.box UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.box LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: url(../images/blt.gif) no-repeat; PADDING-BOTTOM: 4px; MARGIN: 0px 0px 0px 3px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.boxcaption {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; BACKGROUND: url(../images/box.caption.gif) no-repeat; PADDING-BOTTOM: 0px; WIDTH: 211px; COLOR: #303030; PADDING-TOP: 6px; HEIGHT: 22px
}
.boxbottom {
	BACKGROUND: url(../images/box.bottom.gif) no-repeat; MARGIN: 0px 0px 10px; WIDTH: 221px; HEIGHT: 3px
}
.page {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN: 5px 0px; COLOR: #6ca901
}
.page P {
	
}
.pagination {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 12px; FLOAT: right; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.pagination UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 10px 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.pagination LI {
	DISPLAY: inline; PADDING-BOTTOM: 1px; LIST-STYLE-TYPE: none
}
.pagination A {
	BORDER-RIGHT: #6ca901 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #6ca901 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px 5px 0px 0px; BORDER-LEFT: #6ca901 1px solid; COLOR: #6ca901; PADDING-TOP: 5px; BORDER-BOTTOM: #6ca901 1px solid; TEXT-DECORATION: none
}
.pagination A:visited {
	BORDER-RIGHT: #6ca901 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #6ca901 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #6ca901 1px solid; COLOR: #6ca901; PADDING-TOP: 5px; BORDER-BOTTOM: #6ca901 1px solid; TEXT-DECORATION: none
}
.pagination A:hover {
	BORDER-RIGHT: #6ca901 1px solid; BORDER-TOP: #6ca901 1px solid; BORDER-LEFT: #6ca901 1px solid; COLOR: #6ca901; BORDER-BOTTOM: #6ca901 1px solid; BACKGROUND-COLOR: #f9fcf5; TEXT-DECORATION: none
}
.padding {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.padding2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.paypal {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #6ca901; TEXT-ALIGN: center
}
.caption {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(../images/caption.bg.gif) repeat-x 50% bottom; MARGIN: 0px 0px 10px; COLOR: #303030; HEIGHT: 30px
}
.caption P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 14px; BACKGROUND: url(../images/caption.left.gif) no-repeat left 50%; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #303030; PADDING-TOP: 8px; HEIGHT: 20px
}
.caption A {
	COLOR: #303030; TEXT-DECORATION: none
}
.caption A:hover {
	TEXT-DECORATION: underline
}
.caption H2 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FONT-SIZE: 10px; BACKGROUND: url(../images/caption.right.gif) no-repeat right 50%; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 8px; HEIGHT: 22px
}
.content {
	MARGIN: 0px 16px 0px 10px
}
.content UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.content LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: url(../images/blt.gif) no-repeat; PADDING-BOTTOM: 4px; MARGIN: 0px 0px 0px 3px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.fbox {
	BORDER-RIGHT: #6ca901 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #6ca901 1px solid; PADDING-LEFT: 10px; BACKGROUND: #f9fcf5; PADDING-BOTTOM: 10px; MARGIN: 5px 5px 10px; BORDER-LEFT: #6ca901 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #6ca901 1px solid
}
.lbox {
	MARGIN: 0px 5px 25px
}
.footer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/footer.bg.gif) repeat-x 50% top; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 94%; COLOR: #696969; PADDING-TOP: 15px; HEIGHT: 40px
}
.footer P {
	MARGIN: 0px
}
.footer H3 {
	FONT-WEIGHT: normal; FLOAT: right; MARGIN: 0px
}
.footer A {
	COLOR: #696969; TEXT-DECORATION: none
}
.footer A:hover {
	TEXT-DECORATION: underline
}
.nav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; COLOR: #696969; PADDING-TOP: 0px
}
.nav P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 2px
}
.nav H3 {
	FONT-SIZE: 11px; FLOAT: right; MARGIN: 0px
}
.nav A {
	FONT-SIZE: 11px; COLOR: #6ca901; TEXT-DECORATION: none
}
.nav A:hover {
	TEXT-DECORATION: underline
}
.article {
	MARGIN: 5px 5px 10px; LINE-HEIGHT: 18px
}
.article A {
	FONT-WEIGHT: bold; COLOR: #6ca901; TEXT-DECORATION: none
}
.article A:hover {
	FONT-WEIGHT: bold; COLOR: #6ca901; TEXT-DECORATION: underline
}
.text {
	BORDER-RIGHT: #696969 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #696969 1px solid; PADDING-LEFT: 6px; FONT-SIZE: 12px; BACKGROUND: #ffffff; PADDING-BOTTOM: 2px; BORDER-LEFT: #696969 1px solid; WIDTH: 360px; COLOR: #696969; PADDING-TOP: 2px; BORDER-BOTTOM: #696969 1px solid; HEIGHT: 17px
}
.textarea {
	BORDER-RIGHT: #696969 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #696969 1px solid; PADDING-LEFT: 6px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; BORDER-LEFT: #696969 1px solid; WIDTH: 360px; COLOR: #696969; PADDING-TOP: 2px; BORDER-BOTTOM: #696969 1px solid
}
.textpy {
	BORDER-RIGHT: #696969 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #696969 1px solid; PADDING-LEFT: 6px; FONT-SIZE: 12px; BACKGROUND: #ffffff; PADDING-BOTTOM: 2px; BORDER-LEFT: #696969 1px solid; WIDTH: 50px; COLOR: #696969; PADDING-TOP: 2px; BORDER-BOTTOM: #696969 1px solid; HEIGHT: 17px
}
.limit_field {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; COLOR: #696969; BORDER-RIGHT-WIDTH: 0px
}
.captcha {
	BORDER-RIGHT: #696969 1px solid; BORDER-TOP: #696969 1px solid; BACKGROUND: url(../images/loader.gif) no-repeat center 50%; BORDER-LEFT: #696969 1px solid; BORDER-BOTTOM: #696969 1px solid
}
FORM {
	MARGIN: 0px
}
.cat {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; MARGIN: 0px 0px 6px; COLOR: #6ca901
}
.cat A {
	FONT-SIZE: 13px; COLOR: #6ca901; TEXT-DECORATION: none
}
.cat A:hover {
	TEXT-DECORATION: underline
}
.cat SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 4px; FONT-SIZE: 9px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.subcat {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; MARGIN: 0px 0px 2px; COLOR: #696969
}
.subcat A {
	COLOR: #696969; TEXT-DECORATION: none
}
.subcat A:hover {
	TEXT-DECORATION: underline
}
.break {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; MARGIN: 0px 0px 2px; COLOR: #6ca901
}
.title A {
	FONT-SIZE: 13px; COLOR: #6ca901; TEXT-DECORATION: none
}
.title A:hover {
	TEXT-DECORATION: underline
}
.desc {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; MARGIN: 0px 0px 2px; COLOR: #696969
}
.url {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; MARGIN: 5px 0px; COLOR: #696969
}
DIV.pr {
	FONT-SIZE: 6pt; COLOR: #000000
}
DIV.prg {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 1px; BORDER-LEFT: #999999 1px solid; WIDTH: 40px; BORDER-BOTTOM: #999999 1px solid; HEIGHT: 3px
}
DIV.prb {
	FONT-SIZE: 1px; BACKGROUND: #5eaa5e; HEIGHT: 3px
}
.small {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 7pt; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #696969; PADDING-TOP: 0px; TEXT-DECORATION: none
}
.small A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 7pt; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #696969; PADDING-TOP: 0px; TEXT-DECORATION: none
}
.err {
	BORDER-RIGHT: #6ca901 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #6ca901 1px solid; PADDING-LEFT: 6px; FONT-WEIGHT: bold; PADDING-BOTTOM: 6px; MARGIN: 0px 5px 5px; BORDER-LEFT: #6ca901 1px solid; COLOR: #ff0000; PADDING-TOP: 6px; BORDER-BOTTOM: #6ca901 1px solid
}
.msg {
	BORDER-RIGHT: #6ca901 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #6ca901 1px solid; PADDING-LEFT: 6px; FONT-WEIGHT: bold; PADDING-BOTTOM: 6px; MARGIN: 0px 5px 5px; BORDER-LEFT: #6ca901 1px solid; COLOR: #6ca901; PADDING-TOP: 6px; BORDER-BOTTOM: #6ca901 1px solid
}
SPAN.req {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
SELECT {
	BORDER-RIGHT: #d5d5d5 1px solid; BORDER-TOP: #d5d5d5 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #d5d5d5 1px solid; COLOR: #000000; BORDER-BOTTOM: #d5d5d5 1px solid
}
#toggleCategTree {
	DISPLAY: block; FONT-WEIGHT: bold; CURSOR: pointer; COLOR: #6ca901
}
#categtree {
	BORDER-RIGHT: #696969 1px dotted; BORDER-TOP: #696969 0px dotted; MARGIN: 3px 0px; OVERFLOW: auto; BORDER-LEFT: #696969 1px dotted; WIDTH: 300px; BORDER-BOTTOM: #696969 1px dotted; HEIGHT: 200px
}
#catTitle {
	FONT-WEIGHT: bold; BACKGROUND: none transparent scroll repeat 0% 0%
}
#categtree H2 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 11px; BACKGROUND: #a7cb67; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 5px; VERTICAL-ALIGN: middle; COLOR: #ffffff; PADDING-TOP: 2px; TEXT-ALIGN: center
}
#categtree #close_tree {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; RIGHT: 0px; PADDING-BOTTOM: 1px; CURSOR: pointer; PADDING-TOP: 1px; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
#categtree .categ-item {
	CLEAR: both; BORDER-RIGHT: #ffffff 0px dotted; PADDING-RIGHT: 5px; BORDER-TOP: #ffffff 1px dotted; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 3px 5px; BORDER-LEFT: #ffffff 0px dotted; CURSOR: pointer; COLOR: #303030; PADDING-TOP: 2px; BORDER-BOTTOM: #ffffff 1px dotted
}
#categtree .categ-item IMG {
	MARGIN-RIGHT: 1em
}
#categtree .odd {
	BACKGROUND: #d9e9bd
}
#categtree .even {
	BACKGROUND: #ffffff
}
#categtree .categ-item:hover {
	BACKGROUND: #eee
}
.os {
	FONT-WEIGHT: bold; COLOR: #3d4c53
}
.os A {
	FONT-SIZE: 11px; COLOR: #3d4c53; TEXT-DECORATION: none
}
.os A:hover {
	TEXT-DECORATION: underline
}
.design {
	FONT-WEIGHT: bold; COLOR: #982a05
}
.design A {
	FONT-SIZE: 11px; COLOR: #982a05; TEXT-DECORATION: none
}
.design A:hover {
	TEXT-DECORATION: underline
}
