<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ProjetoWebBpad</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>home</display-name>
    <servlet-name>home</servlet-name>
    <servlet-class>controlador.home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/protegida/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarUnidadeSaude</display-name>
    <servlet-name>CadastrarUnidadeSaude</servlet-name>
    <servlet-class>controlador.CadastrarUnidadeSaude</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarUnidadeSaude</servlet-name>
    <url-pattern>/protegida/CadastrarUnidadeSaude</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultarUnidadeSaude</display-name>
    <servlet-name>ConsultarUnidadeSaude</servlet-name>
    <servlet-class>controlador.ConsultarUnidadeSaude</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultarUnidadeSaude</servlet-name>
    <url-pattern>/protegida/ConsultarUnidadeSaude</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AtualizarUnidadeSaude</display-name>
    <servlet-name>AtualizarUnidadeSaude</servlet-name>
    <servlet-class>controlador.AtualizarUnidadeSaude</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtualizarUnidadeSaude</servlet-name>
    <url-pattern>/protegida/AtualizarUnidadeSaude</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarProfissional</display-name>
    <servlet-name>CadastrarProfissional</servlet-name>
    <servlet-class>controlador.CadastrarProfissional</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarProfissional</servlet-name>
    <url-pattern>/protegida/CadastrarProfissional</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarFichaDiaria</display-name>
    <servlet-name>CadastrarFichaDiaria</servlet-name>
    <servlet-class>controlador.CadastrarFichaDiaria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarFichaDiaria</servlet-name>
    <url-pattern>/protegida/CadastrarFichaDiaria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultarFichaDiaria</display-name>
    <servlet-name>ConsultarFichaDiaria</servlet-name>
    <servlet-class>controlador.ConsultarFichaDiaria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultarFichaDiaria</servlet-name>
    <url-pattern>/protegida/ConsultarFichaDiaria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AtualizarFichaDiaria</display-name>
    <servlet-name>AtualizarFichaDiaria</servlet-name>
    <servlet-class>controlador.AtualizarFichaDiaria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtualizarFichaDiaria</servlet-name>
    <url-pattern>/protegida/AtualizarFichaDiaria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BPAServlet</display-name>
    <servlet-name>BPAServlet</servlet-name>
    <servlet-class>controlador.BPAServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BPAServlet</servlet-name>
    <url-pattern>/protegida/BPAServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultarProfissional</display-name>
    <servlet-name>ConsultarProfissional</servlet-name>
    <servlet-class>controlador.ConsultarProfissional</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultarProfissional</servlet-name>
    <url-pattern>/protegida/ConsultarProfissional</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AtualizarProfissional</display-name>
    <servlet-name>AtualizarProfissional</servlet-name>
    <servlet-class>controlador.AtualizarProfissional</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtualizarProfissional</servlet-name>
    <url-pattern>/protegida/AtualizarProfissional</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarPaciente</display-name>
    <servlet-name>CadastrarPaciente</servlet-name>
    <servlet-class>controlador.CadastrarPaciente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarPaciente</servlet-name>
    <url-pattern>/protegida/CadastrarPaciente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultarPaciente</display-name>
    <servlet-name>ConsultarPaciente</servlet-name>
    <servlet-class>controlador.ConsultarPaciente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultarPaciente</servlet-name>
    <url-pattern>/protegida/ConsultarPaciente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AtualizarPaciente</display-name>
    <servlet-name>AtualizarPaciente</servlet-name>
    <servlet-class>controlador.AtualizarPaciente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtualizarPaciente</servlet-name>
    <url-pattern>/protegida/AtualizarPaciente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RelatorioFichaDiaria</display-name>
    <servlet-name>RelatorioFichaDiaria</servlet-name>
    <servlet-class>relatorios.RelatorioFichaDiaria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelatorioFichaDiaria</servlet-name>
    <url-pattern>/relatorios/FichasporData</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FiltroChecaEstaLogado</display-name>
    <filter-name>FiltroChecaEstaLogado</filter-name>
    <filter-class>servlet.FiltroChecaEstaLogado</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroChecaEstaLogado</filter-name>
    <url-pattern>/protegida/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLogin</display-name>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>servlet.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
</web-app>